.navbar {
  background-color: #212529 !important;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.sticky {
  background-color: #0a1326 !important;
  transition: 0.5s;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .navbar-brand {
  color: #9e9e9e;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 8px !important;
}

.navbar .nav-link {
  color: #9e9e9e !important;
  letter-spacing: 2px;
  transition: 0.5s;
  padding: 0 12px !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #fff !important;
}

#header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#0000007a 0% 100%),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header form {
  width: 70%;
}

#header form input {
  width: 100%;
  margin: 50px;
  padding: 12px;
  background-color: #212529;
  border-radius: 50px;
  border: 1px solid #fff;
}

input:focus {
  outline: none;
  color: #fff;
}

#header form button {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 25px;
  background-color: #0a1326;
  color: #9e9e9e;
  transition: 0.3s;
}

#header form button:hover {
  color: #fff;
}

.curd {
  background-color: #212529;
  border-radius: 5px;
}

.curd .header {
  background-color: #2a3640;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 5px;
  letter-spacing: 2px;
}

.curd .header-one {
  display: flex;
  justify-content: space-between;
}

.curd .body {
  padding: 50px 0 25px;
}

.curd h3 {
  font-size: 25px;
  font-weight: 100;
}

.curd .image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.curd .two {
  flex-direction: column;
}

.curd .image h4 {
  font-size: 40px;
  font-weight: 400;
}

.curd .text {
  display: flex;
  flex-direction: column;
}

.curd .text span:nth-of-type(1) {
  color: #9e9e9e;
  font-weight: bold;
  padding-block: 7px;
}

.curd .text span:nth-of-type(2) {
  color: #3535ff;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 600;
}
.curd .fotter {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

#footer {
  background-color: #212529;
}

#footer input {
  background-color: #2a3640;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 15px;
  width: 100%;
}
#footer button {
  position: absolute;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #0a1326;
  color: #9e9e9e;
  transition: 0.3s;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#footer button:hover {
  color: #fff;
}

#footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .links a {
  padding: 10px;
  font-size: 18px;
  transition: 0.4s;
}

#footer .links a:hover i {
  color: #fff;
  background-color: #0a1326;
}

#footer .links i {
  background-color: #2a3640;
  padding: 10px;
  border-radius: 50%;
  transition: 0.4s;
}

#footer p {
  color: #758797b8;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 80px;
}

.navbar-toggler {
  border: none;
  font-size: 1.4375rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 991px) {
  ul.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}
